// $color__white: #fff;
// $color__black: #000;
// $color__main: #12121C;
// $color__btn: #006ADA;
// $color__btn-hover: #92A4EF;
// $color__green: #57EFB4;
// $color__gray: #88888D;
// $color__hover: #222233;


$media_375: 320px;
$media_375: 375px;
$media_768: 768px;
$media_1440: 1440px;
$media_1920: 1920px;

// $font__sans: 'DMSans';
// $font__inter: 'Inter';
// $font__sora: 'Sora';
